@{
    ViewBag.Title = "Details";
}

<!--Breadcrumb Start-->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">Product Detail</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb-->        <!--Product Details Area Start-->
<div class="product-deails-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <div class="product-details-content row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="zoomWrapper">
                            <div id="img-1" class="zoomWrapper single-zoom">
                                <a href="#">
                                    <img id="zoom1" src="~/img/product/fashion/l-6.jpg" data-zoom-image="~/img/product/fashion/z-6.jpg" alt="big-1">
                                </a>
                            </div>
                            <div class="product-thumb row">
                                <ul class="p-details-slider" id="gallery_01">
                                    <li class="col-md-4">
                                        <a class="fancybox elevatezoom-gallery" data-fancybox-group="group" href="~/img/product/fashion/l-6.jpg" data-image="~/img/product/fashion/l-6.jpg" data-zoom-image="~/img/product/fashion/z-6.jpg"><img src="~/img/product/fashion/z-6.jpg" alt=""></a>
                                    </li>
                                    <li class="col-md-4">
                                        <a class="fancybox elevatezoom-gallery" data-fancybox-group="group" href="~/img/product/fashion/l-6.jpg" data-image="~/img/product/fashion/l-6.jpg" data-zoom-image="~/img/product/fashion/z-6.jpg"><img src="~/img/product/fashion/z-6.jpg" alt=""></a>
                                    </li>
                                    <li class="col-md-4">
                                        <a href="#" class="elevatezoom-gallery" data-fancybox-group="group" data-image="~/img/product/fashion/l-6.jpg" data-zoom-image="img/product/fashion/z-69.jpg"><img src="~/img/product/fashion/z-6.jpg" alt=""></a>
                                    </li>
                                    <li class="col-md-4">
                                        <a href="#" class="elevatezoom-gallery" data-image="~/img/product/fashion/l-6.jpg" data-zoom-image="~/img/product/fashion/z-6.jpg"><img src="~/img/product/fashion/z-6.jpg" alt=""></a>
                                    </li>
                                    <li class="col-md-4">
                                        <a href="#" class="elevatezoom-gallery" data-image="~/img/product/fashion/19.jpg" data-zoom-image="~/img/product/fashion/z-6.jpg"><img src="~/img/product/fashion/z-6.jpg" alt=""></a>
                                    </li>
                                    <li class="col-md-4">
                                        <a href="#" class="elevatezoom-gallery" data-image="~/img/product/fashion/17.jpg" data-zoom-image="~/img/product/fashion/z-6.jpg"><img src="~/img/product/fashion/z-6.jpg" alt=""></a>
                                    </li>
                                    <li class="col-md-4">
                                        <a href="#" class="elevatezoom-gallery" data-image="~/img/product/fashion/21.jpg" data-zoom-image="~/img/product/fashion/z-6.jpg"><img src="~/img/product/fashion/z-6.jpg" alt=""></a>
                                    </li>
                                    <li class="col-md-4">
                                        <a href="#" class="elevatezoom-gallery" data-image="~/img/product/fashion/22.jpg" data-zoom-image="~/img/product/fashion/z-6.jpg"><img src="~/img/product/fashion/z-6.jpg" alt=""></a>
                                    </li>
                                    <li class="col-md-4">
                                        <a href="#" class="elevatezoom-gallery" data-image="~/img/product/fashion/23.jpg" data-zoom-image="~/img/product/fashion/z-6.jpg"><img src="~/img/product/fashion/z-6.jpg" alt=""></a>
                                    </li>
                                    <li class="col-md-4">
                                        <a href="#" class="elevatezoom-gallery" data-image="~/img/product/fashion/l-6.jpg" data-zoom-image="~/img/product/fashion/z-6.jpg"><img src="~/img/product/fashion/z-6.jpg" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="details-product-name"><h1>alteration </h1></div>
                        <ul class="details-product-list">
                            <li>Brand: <a href="#">Apple</a></li>
                            <li>Product Code: Product 16</li>
                            <li>Reward Points: 600</li>
                            <li>Availability: In Stock</li>
                        </ul>
                        <div class="product-details-price">
                            <span class="price-old">RM 602.00</span>
                            <span class="price-new">RM 402.00</span>
                            <span class="price-tax">Ex Tax: RM 500.00</span>
                        </div>
                        <div class="form-group">
                            <form action="#" method="post">
                                <label for="input-quantity" class="control-label">Qty</label>
                                <input type="text" class="form-control" id="input-quantity" size="2" value="1" name="quantity">
                                <div class="cart-links">
                                    <div class="add-to-cart">
                                        <button type="button">Add to Cart</button>
                                    </div>
                                    <ul class="add-to-link">
                                        <li><button type="button"><i class="fa fa-heart"></i></button></li>
                                        <li><button type="button"><i class="fa fa-exchange"></i></button></li>
                                    </ul>
                                </div>
                                <div class="product-rating">
                                    <div class="rating-star">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <a href="#">0 reviews</a>
                                    <span>/</span>
                                    <a href="#">Write a review</a>
                                </div>
                                <div class="social-share">
                                    <a class="fb-like">
                                        <div class="fb">
                                            <i></i>
                                            <span>Like</span>
                                        </div>
                                    </a>
                                    <div class="like">
                                        <span>0</span>
                                    </div>
                                    <a class="tweet" href="#"><i class="fa fa-twitter"></i>Tweet</a>
                                    <a class="pin" href="#"></a>
                                    <a class="share" href="#"></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 hidden-sm col-xs-12">
                <div class="banner flash-hover">
                    <a href="#"><img src="~/img/banner/17.jpg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="product-details-tab">
                    <!-- Nav tabs -->
                    <ul role="tablist" class="nav nav-tabs">
                        <li class="active" role="presentation">
                            <a data-toggle="tab" role="tab" aria-controls="description" href="#description" aria-expanded="true">Description</a>
                        </li>
                        <li role="presentation">
                            <a data-toggle="tab" role="tab" aria-controls="specification" href="#specification" aria-expanded="false">Specification</a>
                        </li>
                        <li role="presentation">
                            <a data-toggle="tab" role="tab" aria-controls="review" href="#review" aria-expanded="false">Reviews(0)</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="tab-content">
                    <div id="description" class="tab-pane active" role="tabpanel">
                        <div class="product-description">
                            <p>
                                <b>Intel Core 2 Duo processor</b>
                            </p>
                            <p>
                                Powered by an Intel Core 2 Duo processor at speeds up to 2.16GHz, the new MacBook is the fastest ever.
                            </p>
                            <p>
                                <b>1GB memory, larger hard drives</b>
                            </p>
                            <p>
                                The new MacBook now comes with 1GB of memory standard and larger hard drives for the entire line perfect for running more of your favorite applications and storing growing media collections.
                            </p>
                            <p>
                                <b>Sleek, 1.08-inch-thin design</b>
                            </p>
                            <p>
                                MacBook makes it easy to hit the road thanks to its tough polycarbonate case, built-in wireless technologies, and innovative MagSafe Power Adapter that releases automatically if someone accidentally trips on the cord.
                            </p>
                            <p>
                                <b>Built-in iSight camera</b>
                            </p>
                            <p>
                                Right out of the box, you can have a video chat with friends or family,2 record a video at your desk, or take fun pictures with Photo Booth
                            </p>
                        </div>
                    </div>
                    <div id="specification" class="tab-pane" role="tabpanel">
                        <table class="table product-table">
                            <tbody>
                                <tr>
                                    <td colspan="2"><strong>Memory</strong></td>
                                </tr>
                                <tr>
                                    <td>test 1</td>
                                    <td>8gb</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Processor</strong></td>
                                </tr>
                                <tr>
                                    <td>No. of Cores</td>
                                    <td>1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="review" class="tab-pane" role="tabpanel">
                        <form action="#" method="post">
                            <p>There are no reviews for this product.</p>
                            <h2>Write a review</h2>
                            <div class="form-group required">
                                <div class="form-name">
                                    <label for="input-name" class="control-label">Your Name</label>
                                    <input type="text" class="form-control" id="input-name" value="" name="name">
                                </div>
                            </div>
                            <div class="form-group required">
                                <div class="form-review">
                                    <label for="input-review" class="control-label">Your Review</label>
                                    <textarea class="form-control" id="input-review" rows="5" name="text"></textarea>
                                    <div class="help"><span class="text-danger">Note:</span> HTML is not translated!</div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <div class="form-rating">
                                    <label class="control-label">Rating</label>
                                    <span class="bad">Bad</span>
                                    <input type="radio" value="1" name="rating">
                                    <input type="radio" value="2" name="rating">
                                    <input type="radio" value="3" name="rating">
                                    <input type="radio" value="4" name="rating">
                                    <input type="radio" value="5" name="rating">
                                    <span class="good">Good</span>
                                </div>
                            </div>
                            <div class="buttons clearfix">
                                <button class="btn-review" type="button">Continue</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Product Details Area-->
<!--Related Product Area Start-->
<div class="related-product-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-one">
                    <h3 class="new-product">Related Products</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="new-product">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="single-product">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/img/product/fashion/6.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-text">
                            <div class="p-name"><a href="#">Alteration</a></div>
                            <div class="p-price">
                                <span class="price-new">RM 89.23</span>
                                <span class="price-old">RM 341.89</span>
                                <span class="price-tax">Ex Tax: RM 55.07</span>
                            </div>
                            <div class="cart-links">
                                <div class="add-to-cart">
                                    <button type="button"><i class="fa fa-shopping-cart"></i>Add to Cart</button>
                                </div>
                                <ul class="add-to-link">
                                    <li><button type="button"><i class="fa fa-heart"></i></button></li>
                                    <li><button type="button"><i class="fa fa-exchange"></i></button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="single-product">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/img/product/fashion/17.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-text">
                            <div class="p-name"><a href="#">Predefined</a></div>
                            <div class="p-price">
                                <span class="price-new">RM 67.90</span>
                                <span class="price-old">RM 851.23</span>
                                <span class="price-tax">Ex Tax: RM 78.45</span>
                            </div>
                            <div class="cart-links">
                                <div class="add-to-cart">
                                    <button type="button"><i class="fa fa-shopping-cart"></i>Add to Cart</button>
                                </div>
                                <ul class="add-to-link">
                                    <li><button type="button"><i class="fa fa-heart"></i></button></li>
                                    <li><button type="button"><i class="fa fa-exchange"></i></button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="single-product">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/img/product/fashion/18.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-text">
                            <div class="p-name"><a href="#">Exclusive</a></div>
                            <div class="p-price">
                                <span class="price-new">RM 32.78</span>
                                <span class="price-old">RM 236.65</span>
                                <span class="price-tax">Ex Tax: RM 45.21</span>
                            </div>
                            <div class="cart-links">
                                <div class="add-to-cart">
                                    <button type="button"><i class="fa fa-shopping-cart"></i>Add to Cart</button>
                                </div>
                                <ul class="add-to-link">
                                    <li><button type="button"><i class="fa fa-heart"></i></button></li>
                                    <li><button type="button"><i class="fa fa-exchange"></i></button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 hidden-md hidden-sm col-xs-12">
                    <div class="single-product">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/img/product/fashion/19.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-text">
                            <div class="p-name"><a href="#">Collection</a></div>
                            <div class="p-price">
                                <span class="price-new">RM 34.99</span>
                                <span class="price-old">RM 532.44</span>
                                <span class="price-tax">Ex Tax: RM 87.67</span>
                            </div>
                            <div class="cart-links">
                                <div class="add-to-cart">
                                    <button type="button"><i class="fa fa-shopping-cart"></i>Add to Cart</button>
                                </div>
                                <ul class="add-to-link">
                                    <li><button type="button"><i class="fa fa-heart"></i></button></li>
                                    <li><button type="button"><i class="fa fa-exchange"></i></button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Related Product Area-->
